@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../recursos/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --color1: #c5ebd6;
    --color2: #83e1ad;
    --color3: #3ddc84;
    --color4: #2fa866;
    --color5: #1a5c37;
    --color6: #063d1e; 

    --font-default: Arial, Verdana, Helvetica, sans-serif;
    --font-emphasis: 'Bebas Neue', sans-serif;
    --font-android: 'Android', 'Bebas Neue', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;;
}

body{
    background-color: var(--color1);
    font-family: var(--font-default);
}

header{
    background-image: linear-gradient(to bottom, var(--color4), var(--color6));
    height: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1{
    color: white;
    font-family: var(--font-emphasis);
    font-size: 3.0em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

header > p{
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}


nav{
    background-color: var(--color6);
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
}
nav > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    padding: 10px;
    transition-duration: 1s;
}

nav > a:hover{
    background-color: var(--color4);
    color: var(--color6);
}

main{
    background-color: white;
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--color6);
    font-family: var(--font-android);
}

main h2{
    background-image: linear-gradient(to right, var(--color2), transparent);
    color: var(--color5);
    font-family: var(--font-android);
    font-size: 1.3em;
    text-indent: 10px;
}

main p{
    margin: 15px 10px;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.5em;
}

main strong{
    color: var(--color4)
}

main a{
    background-color: var(--color3);
    color: var(--color6);
    text-decoration: none;
}

main a::after{
    content: '\1F517';
}

main a:hover{
    color: var(--color4);
    text-decoration: underline;
}

main img{
    width: 100%;
}

main img#small{
    max-width: 350px;
    display: block;
    margin: auto;
}

div#video{
    background-color: var(--color5);    
    padding-bottom: 61.5%;
    margin: 0px -20px 30px -20px;

    position: relative;
}

div#video > iframe{
    position: absolute;

    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
}

aside > h3{
    background-color: var(--color5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    columns: 2; 

    padding: 10px;
    
}

footer{
    background-color: var(--color6);
    text-align: center;
    padding: 5px;
}

footer > p{
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

footer > p > a:hover{
    color: var(--color1);
    text-decoration: underline;
}